/* general */

.distance{
    margin-top: 100px;
}

a{
    text-decoration: none;
}

body{
    background-color: #141921;
}

.container-fluid{
    background-color: #141921;
}

main{
    height: calc(100vh - 200px);
    width: calc((100vw - (100% / 12) * 2));
}

/* sidebar */

.sidebar{
    background-color: black;
    height: calc(100% - 100px);
    position: fixed;
}

#logo{
    width: 75%;
    padding: 20px;
}

/* col-tasti */

.col-tasti ul{
    list-style: none;
    color: white;
    margin: 10px 0;
} 

.col-tasti ul a{
    color: white;
}

.col-tasti ul li{
    padding: 5px 0 5px 20px;
}

.col-tasti ul li a span{
    vertical-align: bottom;
}

a li.home img, a li.cerca img, a li.libreria img{
    width: 10%;
    vertical-align: bottom;
}

.col-tasti ul li.span{
    vertical-align: middle;
}

/* col-playlist */

h4{
    color: white;
    padding: 0 0 20px 20px;
}

.list-overflow{
    overflow-y: hidden;
    max-width: 200px;
}

.col-playlist ul{
    color: white;
}

.col-playlist ul li{
    padding: 0 0 20px 20px;
}

.col-playlist ul li a{
    color: white;
    text-decoration: none;
}

/* col-account */

span img{
    width: 10%;
    margin-left: 20px;
    vertical-align: middle;
}

hr{
    width: 100%;
    margin: 20px;
}

span span{
    color: white;
    vertical-align: middle;
}

.account img{
    background-color: gray;
    border-radius: 50%;
}

.col-account{
    margin-top: 75px;
}

.john{
    margin-bottom: 10px;
}

/* bottone */

.btn-style{
    background-color: rgba(9, 11, 17, 0.5);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 83.5%;
}

.btn a{
    color: white;
    padding: 10px 30px;
    background-color: #090B11;
    border: 1px solid white;
    border-radius: 20px;
    align-self: flex-end;
    text-transform: uppercase;
    margin-right: 10px;
}

/* nav */

.nav-style{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .nav-style{
    margin: 20px 0;
}

.nav-style span{
    padding: 0 20px;
}

.nav-style a{
    color: #76787D;
    text-transform: uppercase;
}

.overflow{
    overflow-y: auto;
}

/* recently played */

h2{
    color: white;
    padding: 30px 20px;
}

.img-container{
    display: block;
    margin-left: 20px;
}

.img{
    height: 200px;
    width: 200px;
}

.playlist-title{
    font-weight: bold;
    text-align: center;
    display: block;
    width: 200px;
}

.playlist-info{
    display: block;
    color: gray;
    text-align: center;
    width: 200px;
}

/* consigli */

.p-descr{
    padding: 0px 20px 30px;
}

.last{
    margin-bottom: 150px;
}

/* footer */

.footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #282828;
    width: 100%;
    height: 100px;
    align-items: center;
}

.row i{
    padding: 10px;
    color: white;
}

/* col sx */

.img-small{
    height: 50px;
    width: 50px;
}

a i{
    color: white;
    padding: 5px;
}

.row span{
    padding-right: 20px;
    padding-left: 10px;
}

/* col middle */

.btn-play{
    font-size: 30px;
}

.play-bar{
    display: inline-block;
    height: 5px;
    width: 300px;
    color: red;
}

/* col dx */

.volume-bar{
    display: inline-block;
    height: 5px;
    width: 150px;
    background-color: lightgray;
    border-radius: 3px;
}

/* media query */

@media screen and (max-width: 768px) {
    .options{
        margin-left: 500px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .options{
        margin-left: 160px;
    }

    .volume-bar{
        width: 100px;
    }

    .row span{
        padding-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .options{
        margin-left: 17%;
    }
}