/* sidebar */

.sidebar{
    background-color: black;
    height: 1000px;
}

.color{
    background-color: #090B11;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main{
    background-color: #141921;
}

#logo{
    width: 75%;
    padding: 20px;
}



.btn a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #090B11;
    border: 1px solid white;
    border-radius: 20px;
    align-self: flex-end;
    text-transform: uppercase;
}